<% content_for :view_specific_css do %>
    <%= stylesheet_link_tag "landing" %>
<% end %>


<h1>HomeFresh</h1>
<h2>Singapore's most convenient on demand cleaning service</h2>
<%= button_to "Make a Reservation", '#', {:method => "get", :class=>"btn btn-primary"} %>