<div id="landing" class="grid">
	<div id="landing-pic" class="col-1-2">

	</div>
	<div id="headline-container" class="col-1-2">
		
		<div id="headline">
			<h1 class="white">Cleaning</br> On Demand</h1>
			<h3> HomeFresh is Singapore's most convenient on demand cleaning service </h3>
			</br>
			<h3> Guarantee 1</h3>
			<h3> Guarantee 1</h3>
			<h3> Guarantee 1</h3>
			</br>
			<%= button_to "Make a Reservation", '/orders/new', {:method => "get", :class=>"super-btn"} %>
		</div>
	</div>
	
</div>



	