#landing {
	width: 100%;
	height: 90%;
	margin: 0 auto;
	background-image: image-url('cleaning.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% auto;
}

#headline-container {
	position: relative;
	height: 100%;
	vertical-align: text-bottom;
}

#headline{
	position: absolute;
	bottom: 0;
	right: 0;
	margin-bottom: 5%;
	margin-right: 5%;
}

#headline h1 {
	margin: 5px;
}

#headline h3 {
	margin: 5px;
}

.super-btn {
	width: 100%;
}

.white {
	color: white;
}