#landing {
	width: 75%;
	margin: 0 auto;
}

#headline {
	text-align: left;
	color: white;
	vertical-align:text-top;
}

#headline h1 {
	margin: 5px;
}

#headline h3 {
	margin: 5px;
}

.super-btn {
	width: 100%;
}
