.polishing-img {
	background-image: image-url('polishing.jpg');
}

.floor-cleaning-img {
	background-image: image-url('floor_cleaning.jpg');	
}

.field_with_errors{
	color: red;
}

.inline-error {
		display: inline;
		color: red;
	}
